@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

.footer {
  overflow: hidden;
  min-height: 200px;
  padding-top: 100px;
  background: $color-primary;
  text-align: center;

  .footer__col--links {
    margin: 20px 0;
  }

  a:not(.button--action) {
    margin: 20px;
    color: $color-highlight;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .button--action {
    display: inline-block;
  }
}
