<div class="admin-page">
  <div class="container-narrow">
    <div class="logo"></div>
    <h2 class="center-text">Admin Panel</h2>

    <div class="pages">
      <h3>Pages</h3>
      <a href="/edit/home" class="pages__well">Home Page</a>
      <a href="/edit/features" class="pages__well">Features</a>
      <a href="/edit/get-started" class="pages__well">Get Started</a>
      <a href="/edit/demo" class="pages__well">Demo</a>
      <a href="/gallery" class="pages__well">Image Gallery</a>
      <a href="/edit/error" class="pages__well">Error Page</a>
    </div>

    <div class="logout-text">
      <a href="" (click)="logout()">Log Out</a>
    </div>
  </div>
</div>
