<div class="main-container">
  <div class="header-splash center-text"  [style.backgroundImage]="getUrl( getContent('imageSplash') )">
    <div class="header-splash__content">
      <h1>{{post?.title}}</h1>
    </div>
  </div>

  <div class="feature-blurb">
    <div class="feature-blurb__content" [innerHtml]="getContent('introText')">
    </div>
  </div>

  <div class="feature-section">
    <div class="feature__item feature__item--graphic" [style.backgroundImage]="getUrl( getContent('imageOne') )"></div>
    <div class="feature__item feature__item--text">
      <div class="text--content"  [innerHtml]="getContent('sectionOne')">
      </div>
    </div>

    <div class="feature__item feature__item--graphic" [style.backgroundImage]="getUrl( getContent('imageTwo') )"></div>
    <div class="feature__item feature__item--text">
      <div class="text--content"  [innerHtml]="getContent('sectionTwo')">
      </div>
    </div>
    <div class="feature__item feature__item--graphic" [style.backgroundImage]="getUrl( getContent('imageThree') )"></div>
    <div class="feature__item feature__item--text">
      <div class="text--content"  [innerHtml]="getContent('sectionThree')">
      </div>
    </div>
    <div class="feature__item feature__item--graphic" [style.backgroundImage]="getUrl( getContent('imageFour') )"></div>
  </div>

  <div class="feature-blurb">
    <div class="feature-blurb__content"  [innerHtml]="getContent('outroText')">
      <button class="button--action light">Live Demo</button>
    </div>
  </div>


  <app-footer></app-footer>
</div>
