@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";
@import "./src/assets/styles/general";

.main-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow-y: auto;
  @include card-shadow;
}

.header-splash {
  height: 400px;
  background: $neutral-md no-repeat center center;
  background-size: cover;
  @include box-shadow-lt;
  @include vertical-center-container;

  .header-splash__content {
    @include vertical-center-content;
  }
}

.feature-blurb {
  text-align: center;
  margin: 140px 40px;

  @media screen and (min-width: $screen-md) {
    margin: 200px 40px;
  }

  .feature-blurb__content {
    max-width: 700px;
    margin: 0 auto;
  }
}

// Content is pulled from DB.
// It needs styles to not be component specific because the DB content will not have the component scoping tags
::ng-deep {
  .feature-section {

    .feature__item {
      min-height: 300px;

      @media screen and (min-width: $screen-md) {
        min-height: 500px;
      }

      &.feature__item--graphic {
        background: $color-primary fixed no-repeat center center;
        background-size: cover;
        display: none;

        @media screen and (min-width: $screen-md) {
          display: block;
          @include inset-shadow;
        }
        @media screen and (min-width: $screen-md) and (min-resolution: 2dppx) {
          background-attachment: unset;
        }
      }
      &.feature__item--text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 60px;

        .text--content {
          max-width: 700px;

          h3 {
            @extend .highlight;
          }
        }
      }
    }
  }
}
