<div class="home-container" (scroll)="scrollHandler($event)" #homePageContainer>

  <div class="home-splash">
    <div class="home-splash__content">
      <img class="logo" src="assets/images/icons/brintic-logo-bold-full.svg">
      <h2>{{getContent('subtitle')}}</h2>
    </div>
  </div>

  <div class="offset-blurb">
    <div class="offset-blurb__content center-text">
      <div class="container">
        <div [innerHtml]="getContent('introBlurb')"></div>

        <div class="demo">
          <div class="demo__link">
            Live Demo
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spotlight">
    <div class="spotlight__item spotlight__item--text">
      <div class="text--content" id="design-spotlight" [ngClass]="isVisible('#design-spotlight') ? 'fade-in' : 'fade-out'">
        <h3 class="highlight">{{getContent('spotlightOneTitle')}}</h3>
        <div [innerHtml]="getContent('spotlightOneContent')"></div>
      </div>
    </div>
    <div class="spotlight__item spotlight__item--graphic"  [style.backgroundImage]="'url(/assets/images/wall.jpg)'">
      <div class="graphic--offset"></div>
    </div>
  </div>
  <div class="spotlight">
    <div class="spotlight__item spotlight__item--graphic" [style.backgroundImage]="'url(/assets/images/textiles.jpg)'">
      <div class="graphic--offset" [style.backgroundImage]="'url(/assets/images/ribbon-mac.jpg)'"></div>
    </div>
    <div class="spotlight__item spotlight__item--text">
      <div class="text--content" id="custom-spotlight" [ngClass]="isVisible('#custom-spotlight') ? 'fade-in' : 'fade-out'">
        <h3 class="highlight">{{getContent('spotlightTwoTitle')}}</h3>
        <div [innerHtml]="getContent('spotlightTwoContent')"></div>
      </div>
    </div>
  </div>
  <div class="spotlight">
    <div class="spotlight__item spotlight__item--text">
      <div class="text--content" id="preview-spotlight" [ngClass]="isVisible('#preview-spotlight') ? 'fade-in' : 'fade-out'">
        <h3 class="highlight">{{getContent('spotlightThreeTitle')}}</h3>
        <div [innerHtml]="getContent('spotlightThreeContent')"></div>
      </div>
    </div>
    <div class="spotlight__item spotlight__item--graphic" [style.backgroundImage]="'url(/assets/images/polaroid-pictures.jpg)'">
      <div class="graphic--offset" [style.backgroundImage]="'url(/assets/images/polaroid-camera.jpg)'"></div>
    </div>
  </div>

  <div class="col-container">
    <div class="col-container__item">
      <div class="graphic"></div>
      <div [innerHtml]="getContent('itemOneContent')"></div>
    </div>
    <div class="col-container__item">
      <div class="graphic"></div>
      <div [innerHtml]="getContent('itemTwoContent')"></div>
    </div>
    <div class="col-container__item">
      <div class="graphic"></div>
      <div [innerHtml]="getContent('itemThreeContent')"></div>
    </div>
  </div>

  <div class="image-divider"></div>

  <div class="get-started">
    <div class="get-started__content">
      <div class="container" [innerHtml]="getContent('outroBlurb')"></div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
