
<div class="home-splash">
  <div class="home-splash__content">
    <img class="logo" src="assets/images/brintic-logo-bold-full.svg">
    <h2>A Simpler Solution</h2>
  </div>
</div>

<div class="offset-blurb">
  <div class="offset-blurb__content center-text">
    <h1>What is Brintic?</h1>
  </div>
</div>

<div class="spotlight">
  <div class="spotlight__item spotlight__item--text">
    <div class="text--content">
      <h3>Design</h3>
      <p>You're one of a kind.  You don't need a website that looks exactly like everyone else's - and that's why all of our websites are designed and built from scratch.  We don't do reusable themes.  We believe each website should have a personality as unique as it's owner.</p>
    </div>
  </div>
  <div class="spotlight__item spotlight__item--graphic">
    <div class="graphic--offset"></div>
  </div>
</div>
<div class="spotlight">
  <div class="spotlight__item spotlight__item--graphic">
    <div class="graphic--offset"></div>
  </div>
  <div class="spotlight__item spotlight__item--text">
    <div class="text--content">
      <h3>Completely Custom</h3>
      <p>Every business is different.  We work with you to develop a site that precisely fits your needs.  Once your site is launched, our easy-to-use platform offers you total control over your content.</p>
    </div>
  </div>
</div>
<div class="spotlight">
  <div class="spotlight__item spotlight__item--text">
    <div class="text--content">
      <h3>Live Preview</h3>
      <p>Changes appear as you type!  Preview your changes in real time so you know exactly what your website will look like before you save your changes.</p>
    </div>
  </div>
  <div class="spotlight__item spotlight__item--graphic">
    <div class="graphic--offset"></div>
  </div>
</div>

<div class="col-container">
  <div class="col-container__item">
    <h3>Item</h3>
    <p>Item stuff will go here</p>
  </div>
  <div class="col-container__item">
    <h3>Item</h3>
    <p>Item stuff will go here</p>
  </div>
  <div class="col-container__item">
    <h3>Item</h3>
    <p>Item stuff will go here</p>
  </div>
</div>

<div class="portfolio">
  <h2>Portfolio</h2>
  <div class="portfolio__item"></div>
  <div class="portfolio__item"></div>
  <div class="portfolio__item"></div>
  <div class="portfolio__item"></div>
  <div class="portfolio__item"></div>
  <div class="portfolio__item"></div>
</div>

<div class="testimonial">
  <div class="testimonial__content">
    <h2>Testimonial</h2>
    <p>Their work is OK, I guess</p>
  </div>
</div>

<div class="footer"></div>
