@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

p {
  font-size: 18px;
  line-height: 1.5em;
}

.home-splash {
  @include vertical-center-container;
  height: 100%;
  text-align: center;
  background: linear-gradient(-14deg, $color-primary, $color-secondary);
  @include card-shadow;

  .home-splash__content {
    @include vertical-center-content;
    top: -100px;
    transform: translateZ(-2px);

    .logo {
      width: 600px;
      max-width: 100%;
      padding: 0 15px;
    }

    h2 {
      font-size: 42px;
    }
  }
}

.offset-blurb {
  position: relative;
  top: -155px;
  width: 80%;
  max-width: 900px;
  min-height: 600px;
  margin: 0 auto -155px;
  padding: 60px 20px;
  background: $color-secondary;
  background: linear-gradient(to top, lighten($color-secondary, 5%), lighten($color-secondary, 10%));
  @include card-shadow;

  .offset-blurb__content {
    :first-child {
      margin-top: 0;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;

      .demo {
        background: $color-highlight-dk;
        padding: 150px 200px;

        .demo__link {
          padding: 20px 30px;
          border: 1px solid $color-primary;
          border-radius: 50px;
          color: $color-primary;
          transition: all 0.2s;

          &:hover {
            background: $color-primary;
            border: 1px solid $color-highlight-dk;
            color: $color-highlight-dk;
            cursor: pointer;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

.spotlight {
  display: flex;
  overflow: visible;
  margin: 200px 0;

  .spotlight__item {
    width: 0;
    flex-grow: 2;
    flex-shrink: 1;
    height: 500px;
    overflow: visible;
  }

  .spotlight__item--text {
    flex-grow: 3;
    @include vertical-center-container;
    text-align: center;
    margin-right: 100px;

    .text--content {
      @include vertical-center-content;
      max-width: 70%;
      text-align: left;
    }

    &:nth-of-type(even) {
      margin-right: unset;
      margin-left: 100px;
    }
  }

  .spotlight__item--graphic {
    @include vertical-center-container;
    background: $color-highlight;
    @include card-shadow;

    .graphic--offset {
      @include vertical-center-content;
      left: -150px;
      width: 400px;
      height: 200px;
      background: $color-secondary;
      transform: translateZ(1px);
      @include card-shadow;
    }

    &:nth-of-type(odd) {
      text-align: right;

      .graphic--offset {
        left: unset;
        right: -150px;
      }
    }
  }
}

.col-container {
  display: flex;
  flex-direction: column;
  margin: 120px 0;

  @media screen and (min-width: $screen-sm){
    flex-direction: row;
  }

  .col-container__item {
    width: 0;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    margin: 40px;

    .graphic {
      background: $color-highlight-dk;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto 25px;
    }
  }
}

.open-source {
  position: relative;
  bottom: -50px;
  width: 80%;
  max-width: 900px;
  min-height: 600px;
  padding: 60px 20px;
  margin: -70px auto 0;
  background: $color-primary;
  background: linear-gradient(to top, lighten($color-primary, 5%), lighten($color-primary, 23%));
  @include card-shadow;

  .open-source__content {
    :first-child {
      margin-top: 0;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}

.footer {
  min-height: 200px;
  padding-top: 100px;
  background: $color-highlight;
  text-align: center;

  .footer__col--links {
    margin: 20px 0;
  }

  a {
    color: $color-highlight-dk;
    margin: 20px;
  }

  .button--action {
    display: inline-block;
  }
}
