
<div class="page-editor">
  <div class="page-editor__section page-editor--edit"  [class.open]="!previewActive">
    <h3 class="center-text">Edit Page</h3>

    <div class="control-buttons">
      <div class="button--expand" [class.active]="editActive" (click)="toggleEditMode()">
        <span class="graphic"></span>
      </div>
    </div>

    <div class="container">
      <!--<label>Title</label>-->
      <!--<input type="text" title="Title">-->
      <!--<app-quill [(editorContent)]="testContentString"></app-quill>-->


      <div *ngFor="let contentBlock of post?.contentBlocks">
        <div [ngSwitch]="contentBlock?.inputType">
          <h4>{{contentBlock?.displayName || contentBlock?.id}}</h4>
          <div *ngSwitchCase="'text'">
            <input title="{{contentBlock.id}}" type="text" [(ngModel)]="contentBlock.content">
          </div>
          <div *ngSwitchCase="'wysiwyg'">
            <app-quill [(editorContent)]='contentBlock.content'></app-quill>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-editor__section page-editor--preview" [class.open]="!editActive">

    <app-generic-page [(post)]="post"></app-generic-page>

    <div class="control-buttons">
      <div class="button--expand" [class.active]="previewActive" (click)="togglePreviewMode()">
        <span class="graphic"></span>
      </div>
    </div>
  </div>

</div>
