@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

.page-editor {
  display: flex;
  height: 100%;
  overflow: visible;

  .page-editor__section {
    position: relative;
    width: 0;
    margin: 0 20px;
    background: #ffffff;
    @include card-shadow;
    transition: all 0.4s;

    // Hide elements if card isn't open - otherwise animations look bad
    * {
      opacity: 0;
    }

    // Toggle section is visible
    &.open {
      flex-grow: 1;
      transition: all 0.4s;
      * {
        opacity: 1;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    .control-buttons {
      position: absolute;
      top: 10px;
      right: 20px;

      .button--expand {
        display: inline-block;
        padding: 15px;
        border-radius: 50%;
        background-color: $neutral-md;
        @include card-shadow;
        cursor: pointer;

        .graphic {
          display: block;
          width: 20px;
          height: 20px;
          background: url("/assets/images/expand-icon.svg") center center no-repeat;
          background-size: contain;
        }

        &.active {
          background-color: $color-tertiary;
        }
      }
    }
  }

  .page-editor--edit {
    max-width: 900px;
    margin: 0 auto;

    label {
      font-weight: 600;
    }
  }

  .page-editor--preview {
    //flex-grow: 0;
  }
}

