
<div class="page-editor">
  <div class="page-editor__section page-editor--edit"  [class.open]="!previewActive">
    <h3 class="center-text">Edit Page</h3>

    <div class="control-buttons">
      <div class="button--expand" [class.active]="editActive" (click)="toggleEditMode()">
        <span class="graphic"></span>
      </div>
    </div>

    <div class="loading-section" *ngIf="!loaded">
      <div class="loading-section__icon"></div>
    </div>

    <div class="container" *ngIf="loaded">

      <div *ngIf="post?.title">
        <label>Title</label>
        <input type="text" title="Title" [(ngModel)]="post.title">
      </div>


      <div *ngFor="let contentBlock of post?.contentBlocks">
        <div [ngSwitch]="contentBlock?.inputType">
          <label for="{{contentBlock?.id}}">{{contentBlock?.displayName || contentBlock?.id}}</label>
          <div *ngSwitchCase="'text'">
            <input id="{{contentBlock?.id}}" title="{{contentBlock.id}}" type="text" [(ngModel)]="contentBlock.content">
          </div>
          <div *ngSwitchCase="'wysiwyg'">
            <app-quill [(editorContent)]='contentBlock.content'></app-quill>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-editor__section page-editor--preview" [class.open]="!editActive">

    <div class="loading-section" *ngIf="!loaded">
      <div class="loading-section__icon"></div>
    </div>

    <app-generic-page [(post)]="post" *ngIf="loaded"></app-generic-page>

    <div class="control-buttons">
      <div class="button--expand" [class.active]="previewActive" (click)="togglePreviewMode()">
        <span class="graphic"></span>
      </div>
    </div>
  </div>

</div>
