
<div class="login-container">

  <div class="login">
    <div class="login__content">
      <div class="logo"></div>

      <div class="loading-section" *ngIf="loading">
        <div class="loading-section__icon"></div>
      </div>

      <div class="message-section">
        <p class="error-msg">{{errorMsg}}</p>
        <p class="general-msg">{{generalMsg}}</p>
      </div>

      <form *ngIf="!loggedIn && !loading" (submit)="login()">
        <label for="username">User</label>
        <input type="text" id="username" name="username" [(ngModel)]="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password">
        <input type="submit" class="btn-default" value="Log In">
      </form>
    </div>
  </div>

</div>
