@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

.logo {
  margin: 0 auto 30px;
  height: 50px;
  background: url("/assets/images/brintic-logo-bold-full.svg") no-repeat center center;
  background-size: contain;
}

.login-container {
  height: 100%;
}

.login {
  height: 100%;

  .login__content {
    width: 400px;
    margin: 100px auto 0;
    padding: 30px;
    background: #ffffff;
    @include card-shadow;
  }

  .message-section {
    text-align: center;

    .error-msg {
      color: $color-danger;
    }
  }
}

