<div class="get-started-container">

  <div class="header-splash center-text"  [style.backgroundImage]="getUrl( getContent('imageSplash') )">
    <div class="header-splash__content">
      <h1>{{post?.title}}</h1>
    </div>
  </div>

  <div class="text-blurb">
    <div class="text-blurb__content" [innerHtml]="getContent('introText')">
    </div>
  </div>

  <div class="text-blurb">
    <div class="text-blurb__image" [style.backgroundImage]="getUrl( getContent('sectionOneImage') )"></div>
    <div class="text-blurb__content" [innerHtml]="getContent('sectionOneContent')"></div>
  </div>

  <div class="text-blurb">
    <div class="text-blurb__image"  [style.backgroundImage]="getUrl( getContent('sectionTwoImage') )"></div>
    <div class="text-blurb__content" [innerHtml]="getContent('sectionTwoContent')"></div>
  </div>

  <div class="text-blurb">
    <div class="text-blurb__image"  [style.backgroundImage]="getUrl( getContent('sectionThreeImage') )"></div>
    <div class="text-blurb__content" [innerHtml]="getContent('sectionThreeContent')"></div>
  </div>


  <app-footer></app-footer>

</div>
