
<div class="main-container">
  <div class="header-splash center-text">
    <div class="header-splash__content">
      <h1>Title</h1>
    </div>
  </div>

  <div class="card">
    <p [innerHtml]="bodyContent"></p>
    <hr>
    <p>Lo-fi blue bottle stumptown readymade, iPhone mlkshk kinfolk cloud bread keffiyeh hella whatever tilde roof party. Aesthetic cornhole pop-up tote bag meditation. Flannel raw denim fixie art party actually pug swag cold-pressed vaporware everyday carry migas ugh. You probably haven't heard of them cornhole hexagon, pug tacos occupy meditation flannel. Meditation vinyl thundercats 3 wolf moon, squid 8-bit selvage cray pickled iceland salvia. Blog asymmetrical fingerstache, craft beer chillwave DIY pug vice letterpress hella.</p>
    <p>Swag health goth listicle seitan. Fashion axe keytar four dollar toast DIY, yr pork belly drinking vinegar. Leggings semiotics pabst, offal fashion axe kogi lyft raw denim. Kinfolk tacos roof party iceland tumblr portland taxidermy yuccie kitsch. Raw denim williamsburg affogato godard gentrify woke hell of freegan poke prism mlkshk retro helvetica. Godard iPhone vinyl retro try-hard woke meh synth af iceland williamsburg.</p>
    <p>Keytar heirloom actually twee, austin poke occupy selfies cold-pressed. Tbh four loko truffaut, celiac organic pok pok thundercats franzen humblebrag sustainable next level. Everyday carry mumblecore asymmetrical, poke keffiyeh craft beer fingerstache DIY selvage flannel hella salvia hexagon locavore ugh. Deep v 8-bit fanny pack DIY jean shorts farm-to-table paleo before they sold out hammock hoodie humblebrag cred fashion axe synth cold-pressed. Meggings listicle affogato, shabby chic fashion axe venmo portland mustache live-edge mixtape succulents. Selvage slow-carb cardigan synth hoodie jianbing migas shaman.</p>
  </div>
</div>
