@import "./src/assets/styles/utilities/variables";

* {
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $color-stroke;

  &:active {
    background: darken($color-stroke, 5%);
  }
  &:window-inactive {
    background: lighten($color-stroke, 5%);
  }
}

