
<div class="border-frame">
  <div class="menu-icon" (click)="toggleMenu()">
    <div class="hamburger-icon" [class.open]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="border-frame__nav" [class.menu--open]="menuOpen">
    <a href="/"><div class="logo"></div></a>
    <div class="links">
      <a href="/">Home</a>
      <a href="/features">Features</a>
      <a href="#">Download</a>
      <a href="/demo">Demo</a>
    </div>
  </div>
  <div class="border-frame__content">
    <router-outlet></router-outlet>
  </div>
  <div class="border-frame__footer">
    <div class="user-icon"></div>
    <div class="copyright">Powered by Brintic</div>
  </div>
</div>
