@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

$frame-top-size: 60px;
$frame-bottom-size: 40px;

.border-frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $neutral-lt;

  .border-frame__nav {
    height: $frame-top-size;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin: 0 20px;
      height: 30px;
      width: 120px;
      background: url("/assets/images/brintic-logo-bold-full.svg") no-repeat center center;
      background-size: contain;
    }

    .links {
      margin: 0 20px;
      overflow: visible;

      a {
        position: relative;
        text-decoration: none;
        margin: 0 20px;
        z-index: 2;

        &:last-of-type {
          margin-right: 0;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: -6px;
          left: -8px;
          width: 0;
          height: 15px;
          background: transparentize($color-primary, 0.5);
          z-index: -1;
          transition: all 0.2s;
        }

        &:hover {
          &:before {
            width: calc(100% + 20px);
            transition: all 0.4s;
          }
        }
      }
    }
  }

  .border-frame__content {
    position: relative;
    height: calc(100% - #{$frame-top-size}); // subtract the margins (no footer on small viewport)
    margin: 0;
    overflow-y: auto;
    background: #ffffff;
    @include card-shadow();
    perspective: 5px;

    @media screen and (min-width: $screen-sm){
      margin: 0 25px;
      height: calc(100% - #{$frame-top-size} - #{$frame-bottom-size}); // subtract the margins
    }
  }

  .border-frame__footer {
    display: none;

    @media screen and (min-width: $screen-sm){
      height: $frame-bottom-size;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .copyright {
      margin: 0 20px;
      font-size: 12px;
      font-weight: 300;
      color: $color-highlight-dk;
    }
  }
}
