@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

$frame-top-size: 60px;
$frame-bottom-size: 40px;

.border-frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: $neutral-lt;

  .menu-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 20px;
    background: $color-primary;
    border-radius: 50%;
    z-index: 10;
    @include card-shadow;

    .hamburger-icon {
      display: inline-block;
      padding: 12px 15px;
      cursor: pointer;
      transition: all 0.2s;

      span {
        display: block;
        position: relative;
        height: 3px;
        width: 30px;
        background-color: #ffffff;
        margin: 7px 0;
        transform-origin: left center;
        transition: all 0.2s;
      }

      &.open {
        transform: translateX(3px);
        transition: all 0.2s;

        span {
          transition: all 0.2s;
        }
        span:nth-child(1) {
          transform: rotate(41deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: rotate(-41deg);
        }
      }
    }

    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }

  .border-frame__nav {

    // Dropdown nav menu on mobile viewport
    @media screen and (max-width: $screen-sm - 1) {
      height: 0;
      text-align: center;
      background: $color-highlight;
      overflow: hidden;
      transition: all 0.2s;

      .logo {
        margin: 0 auto 30px;
        height: 30px;
        width: 120px;
        background: url("/assets/images/icons/brintic-logo-bold-full.svg") no-repeat center center;
        background-size: contain;
      }

      .links {
        a {
          display: block;
          padding: 20px;
        }
      }

      &.menu--open {
        height: 100%;
        padding: 60px 0;
        transition: all 0.2s;
      }
    }

    // Top level nav menu on larger viewports
    @media screen and (min-width: $screen-sm) {
      height: $frame-top-size;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        margin: 0 20px;
        height: 30px;
        width: 120px;
        background: url("/assets/images/icons/brintic-logo-bold-full.svg") no-repeat center center;
        background-size: contain;
      }

      .links {
        margin: 0 20px;
        overflow: visible;

        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          margin: 0 20px;
          z-index: 2;

          &:last-of-type {
            margin-right: 0;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: -8px;
            width: 0;
            height: 15px;
            background: $color-highlight;
            z-index: -1;
            transition: all 0.2s;
          }

          &:hover {
            &:before {
              width: calc(100% + 20px);
              transition: all 0.4s;
            }
          }
        }
      }
    }
  }

  .border-frame__content {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: visible;

    @media screen and (min-width: $screen-sm){
      margin: 0 25px;
      height: calc(100% - #{$frame-top-size} - #{$frame-bottom-size}); // subtract the margins
    }
  }

  .border-frame__footer {
    display: none;

    @media screen and (min-width: $screen-sm){
      height: $frame-bottom-size;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .copyright {
      margin: 0 20px;
      font-size: 12px;
      color: $color-primary;

      a {
         text-decoration: none;
      }
    }
  }
}
