<div class="main-container">

  <div class="header-splash center-text">
    <div class="header-splash__content">
      <h1>Gallery</h1>
    </div>
  </div>

  <div class="loading-section" *ngIf="loading">
    <div class="loading-section__icon"></div>
  </div>

  <form class="file-upload" (submit)="uploadImage()" *ngIf="loggedIn">
    <div *ngIf="fileDataUri">
      <input class="button--action light" type="submit" value="UPLOAD">
    </div>

    <div class="img-preview" *ngIf="fileDataUri">
      <img [src]="fileDataUri">
      <label>{{fileLabel}}</label>
    </div>

    <div class="input-file">
      <input type="file" name="file" id="file" (change)="fileSelected($event)">
      <label for="file">Add Image</label>
    </div>
  </form>

  <div class="gallery">
    <div class="gallery__item"  *ngFor="let img of images">
      <div class="image" [style.backgroundImage]="'url(' + img.src + ')'"></div>
      <label class="delete" *ngIf="loggedIn" (click)="deleteImage(img.name)">Delete</label>
    </div>
  </div>

</div>
