@import "./src/assets/styles/utilities/variables";
@import "./src/assets/styles/utilities/mixins";

.main-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow-y: auto;
  @include card-shadow;
}

.header-splash {
  height: 400px;
  background: url("/assets/images/lamp-hangers.jpg") no-repeat center center;
  background-size: cover;
  @include box-shadow-lt;
  @include vertical-center-container;

  .header-splash__content {
    @include vertical-center-content;
  }
}

.gallery {
  text-align: center;
  margin: 80px 10px;

  @media screen and (min-width: $screen-md) {
    margin: 80px 60px;
  }

  .gallery__item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 150px;
    margin: 10px;
    border: 1px solid $color-shaded;
    border-radius: 5px;
    background: $neutral-lt no-repeat center center;
    background-size: cover;
    overflow: hidden;

    @media screen and (min-width: $screen-md) {
      width: 150px;
    }
  }
}

.file-upload {
  text-align: center;
  margin-bottom: 80px;

  .input-file {
    text-align: center;

    input[type=file] {
      // pseudo hide element (full hide causes issues with default form behavior)
      // Retain height/width (removing this breaks tab navigation in some browsers)
      width: 0.1px;
      height: 0.1px;
      padding: 0;
      opacity: 0;
      position: absolute;
      z-index: -1;

      &:focus + label {
        outline: none;
        box-shadow: 0 0 3px $color-secondary;
      }
    }

    label{
      display: inline-block;
      max-width: 250px;
      padding: 15px 30px;
      border: 2px solid #000000;
      cursor: pointer;
      font-weight: 700;
      text-overflow: ellipsis;
    }
  }

  .img-preview {
    display: inline-block;
    margin: 20px;
    border: 1px solid $color-shaded;
    border-radius: 5px;
    overflow: hidden;

    img {
      display: block;
      object-fit: cover;
      width: 200px;
      height: 200px;
    }
    label {
      display: inline-block;
      padding: 8px;
      font-size: 12px;
    }
  }

  .button--action {
    display: inline-block;
    width: unset;
  }
}
