
@mixin card-shadow() {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

@mixin vertical-center-container() {
  position: relative;

  &:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
  }
}

@mixin vertical-center-content() {
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  max-width: 95%;
}
