
// Colors
$neutral-lt: #eeeeee;
$neutral-md: #D1D1D1;
$neutral-dk: #878787;

$off-black: transparentize(#1A1A1A, 0.05);

$color-primary: #BE93C5;
$color-secondary: #afe8ed;
$color-highlight: #638791;
$color-highlight-dk: #00223E;
$color-shaded: #D1D1D1;
$color-stroke: #878787;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
